:root{
  --background: hsl(0, 0%, 96%);
  --texto: black;
  --elements: white;
}
main{
  background-color: var(--background);
}
.card-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 80px;
  max-width: 1440px;
  width: 90%;
  margin: auto;
}
.darkmode{
 --background:hsl(207, 26%, 17%);
 --texto:white;
 --elements:hsl(209, 23%, 22%);
}
.lightmode{
  --background: hsl(0, 0%, 96%);
  --texto: black;
  --elements: white;
}
@media only screen and (max-width: 1024px){
  .card-list{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 768px){
  .card-list{
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 425px){
  .card-list{
    grid-template-columns: 1fr;
    width: 70%;
    grid-gap: 50px;
  }
}